
[submodule "hugo-casper-two"]
	path = hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "themes/hugo-theme-novela"]
	path = themes/hugo-theme-novela
	url = git@github.com:eldridgea/hugo-theme-novela.git
