
[submodule "hugo-casper-two"]
	path = hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
[submodule "themes/hugo-theme-novela-2"]
	path = themes/hugo-theme-novela-2
	url = https://github.com/forestryio/hugo-theme-novela
