<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
        <a rel="me" href="https://mastodon.social/@magiceldridge">ㅤ</a>
    </div>
  <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
</div>