<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
        <a rel="me" href="https://infosec.exchange/@eldridge">Mastodon</a>
    </div>
  <!-- Default Statcounter code for Blog https://blog.eldrid.ge -->
  <script type="text/javascript">
    var sc_project=12853532; 
    var sc_invisible=1; 
    var sc_security="415095e7"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="site stats"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12853532/0/415095e7/1/" alt="site stats"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
</div>
