<div id="logo-desktop">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker">
        <div style="font-family: 'Permanent Marker', normal; font-size: 45px;color: var(--articleText);">Eldridge Alexander</div>
</div>
<div id="logo-mobile" class="hidden">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker">
        <div style="font-family: 'Permanent Marker', normal; color: var(--articleText);">Eldridge Alexander</div>
</div>